.page-header{
  background-image: linear-gradient(to top, rgba(252,227,138,0.8), rgb(243,129,129,0.8), url(/build/images/Eagle.jpg));
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 26px;
  padding-bottom: 230px;
  margin-bottom: 98px;   
  color: $bg-text-color;
}