.our-team{
  margin-bottom: 42px;
}
   
.team__text{
  padding: 0 130px;
  text-align: center;  
}
   
.team-title{
  margin-bottom: 92px;
}
   
.team__item-general,
.team__item-overlay{
  width: 380px;
  height: 470px;
}
   
.team__item-general{
  background-color: #95e1d3;
  position: relative;
  margin-bottom: 28px;
}
   
.team__item-overlay{
  background-image: linear-gradient(to top, rgba(252,227,138,0.8), rgba(243,129,129,0.8));
  position: absolute;
  top: 0;
  opacity: 0;
  transition: transform 0.2s linear;
}
   
.team__item-image{
  transition: transform 0.2s linear;
}
   
.team__item-card:hover .team__item-overlay,
.team__item-card:hover .team__item-image{
  opacity: 1;
  transform: translate(-10px, -10px);
}

.team__item-name{
  font-family: $main-Header-font-stack;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  text-align: center;  
  color: $secondary-text-color; 
  margin-bottom: 10px;
}

.team__item-pos{
  font-family: $text-main-font;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px; 
  color: $text-color;  
  text-align: center;
}
