$main-Header-font-stack:'Montserrat', sans-serif;
$exotic-font-stack: 'Kaushan Script', cursive;
$text-main-font: 'Roboto', sans-serif;
$bg-text-color: #fff;
$main-accent-color:#fce38a;
$secondary-accent-color:#e88383;
$text-color:#999999;
$secondary-text-color:#333333;
$button-color:  #95e1d3;