.site-navigation{
  @extend %list;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.site-navigation__underline-link{
  @extend %link;
  font-weight: 400;  
  text-transform: uppercase;
  line-height: 16px;   
  padding: 10px 0 7px;
  border-bottom: 3px solid transparent;
  transition: color 0.2s linear, border-bottom .2s linear;

  &:hover,
  &:focus{
    color: #fce38a;
    border-bottom: 3px solid;
    outline: 0;
  }
}
   
.site-navigation__icon-link{
  @extend %link;
  @include center-flex('all');
  // display: flex;
  // justify-content: center;
  // align-items: center;
  min-width: 30px;
  height: 100%;
}
   
.site-navigation__icon{
  width: 18px;
  height: 15px;
  fill: #fff;
  transition: all .2s linear;

  &:hover,
  &:focus{
    fill: #fce38a;
    width: 24px;
    height: 20px;
    outline: 0;
  }
}